<ng-template [ngIf]="visibility">
  <div class="main-container">
    <div class="title mat-elevation-z5">
      Attributes
    </div>

    <div class="sc-info">
      <div>id: {{scId}}</div>
      <div>{{scName}}</div>
    </div>

    <mat-divider></mat-divider>

    <mat-accordion *ngIf="selectedComponent !== undefined">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-panel-title>Layout</mat-panel-title>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of layoutPropertiesList | keyvalue" class="property-applier-kit">

          <flexible-input [label]="item.value.name" [data]="item.value"></flexible-input>

          <div *ngIf="item.value.value !== item.value.actualValue" class="buttons-kit">
            <button mat-icon-button (click)="applyInput(item.value, 'main')">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelInput(item.value)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>

      <ng-template [ngIf]="scIsSimple">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Component properties
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let item of componentPropertiesList | keyvalue" class="property-applier-kit">

            <flexible-input [label]="item.value.name" [data]="item.value"></flexible-input>

            <div *ngIf="item.value.value !== item.value.actualValue" class="buttons-kit">
              <button mat-icon-button (click)="applyInput(item.value, 'secondary')">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelInput(item.value)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </ng-template>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add/Change property
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="add-property-panel">
          <div class="layout-selection">
            <mat-button-toggle-group #propertyGroup="matButtonToggleGroup" name="layoutSelect">
              <mat-button-toggle value="main">Layout</mat-button-toggle>
              <mat-button-toggle [disabled]="!scIsSimple" value="secondary">Component</mat-button-toggle>
            </mat-button-toggle-group>
            <button
              mat-icon-button
              [disabled]="!(propertyGroup.value !== undefined && selectedProperty.value !== '')"
              (click)="processProperty(propertyGroup.value, selectedProperty.value, propertyValue.value)">
              <mat-icon>done</mat-icon>
            </button>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Property</mat-label>
            <input #selectedProperty="matInput" matInput type="text" placeholder="property" [matAutocomplete]="autoPropertyGroup" (input)="onInput($event, allPropertiesList)" (focus)="onFocus($event, allPropertiesList)">
            <mat-autocomplete #autoPropertyGroup="matAutocomplete">
              <mat-option *ngFor="let property of filteredPropertiesObservable | async" [value]="property">
                {{property}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Value</mat-label>
            <input #propertyValue="matInput" matInput placeholder="value">
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="content !== undefined">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Angular Material component properties
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel class="insert-form-field">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{content.operationName}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <flexible-input *ngFor="let item of content.requiredFields" [label]="item.name" [data]="item" class="insert-form-field"></flexible-input>
              <button mat-stroked-button class="width100" (click)="addContent()">ADD</button>

              <mat-accordion *ngFor="let item of content.value; index as i">
                <mat-expansion-panel class="insert-form-field">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{content.prefix + i}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <flexible-input *ngFor="let field of getKeys(item)" [label]="field" [data]="item" [key]="field" [inputType]="'string'" class="insert-form-field"></flexible-input>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>
          </mat-accordion>
        <flexible-input *ngFor="let item of selectedComponent.flexComponentData | keyvalue" [label]="item.key" [data]="item.value" class="property-applier-kit"></flexible-input>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-panel-title>Angular Material special properties</mat-panel-title>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of selectedComponent.angularMaterialData | keyvalue ;index as i" class="property-applier-kit">
          <flexible-input [label]="item.key" [data]="item.value" class="width100"></flexible-input>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
