<ng-template [ngIf]="visibility">
  <div class="main-container">
    <div class="title mat-elevation-z5">
      Attributes
    </div>

    <div class="sc-info">
      <div>id: {{scId}}</div>
      <div>{{scName}}</div>
    </div>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Layout
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="property-applier-kit">
          <mat-form-field appearance="outline">
            <mat-label>Font size</mat-label>
            <input matInput type="number" placeholder="Ex. 12">
          </mat-form-field>
        </div>
        <div class="property-applier-kit">
          <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <mat-select>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="buttons-kit">
            <button mat-icon-button>
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class="property-applier-kit">
          <mat-form-field appearance="outline">
            <mat-label>Font size</mat-label>
            <input matInput type="number" placeholder="Ex. 12">
          </mat-form-field>
        </div>
        <div class="property-applier-kit">
          <mat-form-field appearance="outline">
            <mat-label>Font size</mat-label>
            <input matInput type="number" placeholder="Ex. 12">
          </mat-form-field>
          <div class="buttons-kit">
            <button mat-stroked-button disabled>
              <mat-icon>done</mat-icon>
            </button>
            <button mat-stroked-button disabled>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class="property-applier-kit">
          <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <mat-select>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="buttons-kit">
            <button mat-stroked-button>
              <mat-icon>done</mat-icon>
            </button>
            <button mat-stroked-button>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
