<ng-template [ngIf]="visibility">
  <div class="main-container">
    <div class="title mat-elevation-z5">
      Attributes
    </div>

    <div class="sc-info">
      <div>id: {{scId}}</div>
      <div>{{scName}}</div>
    </div>

    <mat-divider></mat-divider>

    <mat-accordion *ngIf="selectedComponent !== undefined">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Layout
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of layoutPropertiesList | keyvalue ;index as i" class="property-applier-kit">
          <div [ngSwitch]="item.value.type">
            <mat-form-field *ngSwitchCase="'input'" appearance="outline">
              <mat-label>{{item.value.name}}</mat-label>
              <input matInput [(ngModel)]="item.value.floatValue" placeholder="value">
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'select'" appearance="outline">
              <mat-label>{{item.value.name}}</mat-label>
              <mat-select [(ngModel)]="item.value.floatValue">
                <mat-option *ngFor="let option of item.value.availableValues" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'autocomplete'" appearance="outline">
              <mat-label>{{item.value.name}}</mat-label>
              <input matInput type="text" placeholder="value" [matAutocomplete]="autoGroup" (input)="onInput($event, item.value.availableValues)" (focus)="onFocus($event, item.value.availableValues)">
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-option *ngFor="let option of filteredPropertiesObservable | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div *ngIf="item.value.floatValue !== item.value.actualValue" class="buttons-kit">
            <button mat-icon-button (click)="applyInput(item.value, 'main')">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelInput(item.value)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>

      <ng-template [ngIf]="scType">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Component properties
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let item of componentPropertiesList | keyvalue;index as i" class="property-applier-kit">
            <div [ngSwitch]="item.value.type">
              <mat-form-field *ngSwitchCase="'input'" appearance="outline">
                <mat-label>{{item.value.name}}</mat-label>
                <input matInput [(ngModel)]="item.value.floatValue" placeholder="value">
              </mat-form-field>
              <mat-form-field *ngSwitchCase="'select'" appearance="outline">
                <mat-label>{{item.value.name}}</mat-label>
                <mat-select [(ngModel)]="item.value.floatValue">
                  <mat-option *ngFor="let option of item.value.availableValues" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngSwitchCase="'autocomplete'" appearance="outline">
                <mat-label>{{item.value.name}}</mat-label>
                <input matInput type="text" placeholder="value" [matAutocomplete]="autoGroup" (input)="onInput($event, item.value.availableValues)" (focus)="onFocus($event, item.value.availableValues)">
                <mat-autocomplete #autoGroup="matAutocomplete">
                  <mat-option *ngFor="let option of filteredPropertiesObservable | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div *ngIf="item.value.floatValue !== item.value.actualValue" class="buttons-kit">
              <button mat-icon-button (click)="applyInput(item.value, 'secondary')">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelInput(item.value)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </ng-template>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add/Change property
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="add-property-panel">
          <div class="layout-selection">
            <mat-button-toggle-group #propertyGroup="matButtonToggleGroup" name="layoutSelect">
              <mat-button-toggle value="main">Layout</mat-button-toggle>
              <mat-button-toggle [disabled]="!scType" value="secondary">Component</mat-button-toggle>
            </mat-button-toggle-group>
            <button
              mat-icon-button
              [disabled]="!(propertyGroup.value !== undefined && selectedProperty.value !== '')"
              (click)="processProperty(propertyGroup.value, selectedProperty.value, propertyValue.value)">
              <mat-icon>done</mat-icon>
            </button>
          </div>
          <div class="property-value-selection">
            <mat-form-field appearance="outline">
              <mat-label>Property</mat-label>
              <input #selectedProperty="matInput" matInput type="text" placeholder="property" [matAutocomplete]="autoPropertyGroup" (input)="onInput($event, allPropertiesList)" (focus)="onFocus($event, allPropertiesList)">
              <mat-autocomplete #autoPropertyGroup="matAutocomplete">
                <mat-option *ngFor="let property of filteredPropertiesObservable | async" [value]="property">
                  {{property}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Value</mat-label>
              <input #propertyValue="matInput" matInput placeholder="value">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Angular Material special properties
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of selectedComponent.flexData | keyvalue ;index as i" class="property-applier-kit">
          <div [ngSwitch]="item.value.availableValue" style="width: 100%">
            <div *ngSwitchCase="'label'" class="property-group-label">
              <span>{{item.value.value}}</span>
            </div>
            <mat-form-field *ngSwitchCase="'string'" appearance="outline">
              <mat-label>{{item.key}}</mat-label>
              <input matInput [(ngModel)]="item.value.value" placeholder="value">
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'number'" appearance="outline">
              <mat-label>{{item.key}}</mat-label>
              <input matInput [(ngModel)]="item.value.value" placeholder="value" type="number">
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'boolean'" floatLabel="always" appearance="outline">
              <mat-slide-toggle [(ngModel)]="item.value.value"><span class="text-invisible">{{item.key}}</span></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>
            <mat-form-field *ngIf="isArray(item.value.availableValue)" appearance="outline">
              <mat-label>{{item.key}}</mat-label>
              <input
                matInput
                [(ngModel)]="item.value.value"
                type="text"
                placeholder="property"
                [matAutocomplete]="autoPropertyGroup"
                (input)="onInput($event, item.value.availableValue)"
                (focus)="onFocus($event, item.value.availableValue)"
              >
              <mat-autocomplete #autoPropertyGroup="matAutocomplete">
                <mat-option *ngFor="let property of filteredPropertiesObservable | async" [value]="property">
                  {{property}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
