.main-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  overflow: hidden;
}

.title {
  background: yellow;
  font-size: 20px;
  font-family: 'Hammersmith One', sans-serif;
  padding: 10px 10px 10px 20px;
}

.sc-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: lightslategrey;
  padding: 10px 20px;
}

mat-accordion {
  height: 100%;
  overflow: auto;
}

mat-expansion-panel {
  background: none;
  overflow-y: hidden;
}

.property-applier-kit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-kit {
  height: 52px;
  margin-right: 5px;

  button {
    margin-right: 5px;
  }
}
