@import '~@angular/material/theming';

* {
  user-select: none;
}

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  bottom: 0;
  @include mat-elevation(2);
}

.title {
  padding: 0 0 0 20px;
  font-weight: normal;
  color: black;
  position: relative;
  font-size: 20px;
  line-height: 40px;
}

.branch {
  margin-left: 10px;
  border: 1px solid black;
}

.draggable {
  user-select: none;
}

.movable:not(.dragging) {
  transition: transform 300ms ease-in-out;
}

.root-component {
  border-bottom: solid gray 1px;
}

.list-item {
  color: black;

  &.selected {
    background: #0088cc;
    color: white;
    border: black solid 1px;
  }
}

.tree-list {
  height: 100%;
  margin: 10px 10px 10px 10px;
  flex: 1;
}

.tree-branch-toggle {
  display: inline;
  font-weight: bold;
}
