<div class="main-container">
  <mat-card class="title">
    Component Tree
  </mat-card>

  <div class="tree-list">
    <p class="root-component">{{componentsSS.root.name}}</p>
    <ng-template ngFor let-item [ngForOf]="componentsSS.root.order">
      <ng-template
        [ngIf]="componentsSS.root.subComponentsList.get(item).order !== undefined"
        [ngIfThen]="extendedBranch"
        [ngIfElse]="simpleBranch">
      </ng-template>
      <ng-template #extendedBranch>
        <tree-branch [tree]="componentsSS.root.subComponentsList.get(item)"></tree-branch>
      </ng-template>
      <ng-template #simpleBranch>
        <div cdSortable [sortableComponent]="componentsSS.root.subComponentsList.get(item)" class="list-item">
          {{componentsSS.root.subComponentsList.get(item).name}}
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>

