<div [ngSwitch]="data?.procedure">
  <div *ngSwitchCase="'export'">
    <h2 mat-dialog-title>Project export</h2>
    <mat-dialog-content class="mat-typography">
      <textarea cols="70" rows="20" disabled>
        {{data.data | json}}
      </textarea>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close [cdkCopyToClipboard]="data.data | json">Copy</button>
      <a #downloadButton>
        <button mat-button mat-dialog-close cdkFocusInitial>Download</button>
      </a>
    </mat-dialog-actions>
  </div>
  <div *ngSwitchCase="'import'">
    <h2 mat-dialog-title>Project import</h2>
    <mat-dialog-content class="mat-typography">
      <textarea cols="70" rows="20" [(ngModel)]="data.data"></textarea>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-icon-button (click)="fileInput.click()">
        <mat-icon>
          folder
        </mat-icon>
        <input #fileInput type="file" (change)="handleFile($event)" [ngStyle]="{'display': 'none'}">
      </button>
      <span class="spacer"></span>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="data.data" cdkFocusInitial>Done</button>
    </mat-dialog-actions>
  </div>
  <div *ngSwitchDefault class="center-align">

  </div>
</div>
