.shadow-b-order {
  box-shadow: inset 3px 3px 5px 0px red;
  background: red;
}

.shadow-a-order {
  box-shadow: inset -3px -3px 5px 0px red;
  background: red;
}

.cdk-drop-list-dragging {
  background: lightgreen;
}
